In [14]:
"I eat %d apples." %3

'I eat 3 apples.'

In [16]:
a="hobby"
a.count('b')

2

In [20]:
a="Python is the best choice"
a.find('b')  #문자열에서 b가 처음 나온 위치. 문자열 안에 존재하지 않는 문자라면 -1 출력

14

In [21]:
a="Life is too short"
a.index('t')  #문자 t가 맨 처음으로 나온 위치. 문자열 안에 존재하지 않는 문자라면 오류 발생

8

In [23]:
",".join('abcd')

'a,b,c,d'

In [36]:
a="hi"
b=a.upper()
b

'HI'

In [41]:
b.lower()

'hi'

In [43]:
a=" hi "
a.lstrip()  #문자열 중 가장 왼쪽에 있는 한 칸 이상의 연속된 공백들을 모두 지움

'hi '

In [45]:
a=" hi "
a.rstrip()  #문자열 중 가장 오른쪽에 있는 한 칸 이상의 연속된 공백들을 모두 지움

' hi'

In [47]:
a=" hi "
a.strip()  #문자열 양쪽에 있는 한 칸 이상의 연속된 공백들을 모두 지움

'hi'

In [51]:
a = "Life is too short"
a.split()  #공백을 기준으로 문자열 나누기

['Life', 'is', 'too', 'short']

In [52]:
b = "a:b:c:d"
b.split(':')  #기호를 기준으로 문자열 나누기

['a', 'b', 'c', 'd']

In [87]:
a=[1,2,3]
a.append(4)  #리스트의 맨 마지막에 x를 추기하는 함수. append(x)
a

[1, 2, 3, 4]

In [88]:
a.reverse()  #그저 현재의 리스트를 그대로 거꾸로 뒤집는다
a

[4, 3, 2, 1]

In [89]:
a.index(3)  #리스트에 x값이 있으면 x의 위치 값을 돌려준다. index(x)

1

In [93]:
a=[1,2,3]
a.insert(0,4)  #리스트의 a번째 위치에 b를 삽입하는 함수. insert(a,b)
a

[4, 1, 2, 3]

In [95]:
a=[1,2,3,1,2,3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [98]:
a=[1,2,3]
a.pop()  #리스트의 맨 마지막 요소를 돌려주고 그 요소는 삭제한다. pop()

3

In [99]:
a

[1, 2]

In [101]:
a=[1,2,3,4,5,6]
a.pop(2)  #리스트의 x번째 요소를 돌려주고 그 요소는 삭제한다. pop(x)

3

In [104]:
a=[1,2,3]
a.extend([4,5])  #x에는 리스트만 올 수 있으며 원래의 a리스트에 x리스트를 더하게 된다. extend(x)
a

[1, 2, 3, 4, 5]